.container {
  position: relative;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  transform: scale(1.1);
}

.page-enter-active {
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
